{% extends 'base.html' %} {% block content %} 
{% include 'nav/navbar.html' %} 
{% load static %}
<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <h1>Inicia Sesion</h1>
      <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-person-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
            />
          </svg>
          <label for="" class="form-label custom-form-label">Usuario</label>
        </div>
        <div class="mb-3">
            <label for="">Contraseña</label>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
