{% extends 'base.html' %} 
{% load static %}
{% load bootstrap5 %} {% bootstrap_css %}
{% block content %}
<style>
  .name {
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-style: normal;
    text-decoration: none; 
}

</style>
<link rel="stylesheet" href="{% static 'css/page.css' %}" />
<nav class="navbar navbar-expand-lg navegacion navbar-light ">

  <div class="container container-fluid">
    <a class="text-black name" href="{% url 'home' %}">Kartien</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-4 mb-lg-0 mr-sm-2 ">
        <li class="nav-item">
          <a class="nav-link active text-black  texts"  href="{% url 'info' %}">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-black texts" href="{% url 'register' %}" >Registrate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-black texts"  href="{% url 'write' %}">Escribe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-black texts"  href="{% url 'posts_list' %}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-black texts" href="#" >Apoya</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>
{% endblock content %}
 <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form> -->