{% extends 'base.html' %}  
{% block content %} 
{% include 'nav/navbar.html' %}
{% include 'snippets/modal.html' %}
{% load static %} 

<style>
    /* Estilos personalizados para los campos del formulario */
    .custom-form-label {
        font-weight: bold;
        color: #333;
    }

    .custom-form-input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .custom-btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<div class="container">
    <div class="row justify-content-center mt-4">  
        <div class="col-md-6">
            <h1 class="mt-4">Redacta un artículo o historia</h1>
            <form action="" method="POST" class="mt-3">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.title.id_for_label }}" class="form-label custom-form-label">Título:</label>
                    {{ form.title }}
                </div>
                <div class="mb-3">
                    
                    {{ form.image }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.content.id_for_label }}" class="form-label custom-form-label">Contenido:</label>
                    {{ form.content }}
                </div>
                <div class="">
                    <button type="submit" class="btn custom-btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
