{% extends 'base.html' %} {% block content %} {% include 'nav/navbar.html' %} 
{% load static %}
<div class="container">
  <div class="p-3">
    <h1>Últimos artículos</h1>
    <div class="row">
      {% for post in posts %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg>
                <h5 class="ms-2">Escritor anónimo</h5>
              </div>
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <p class="car-date">{{ post.date }}</p>
            <button class="btn-primary">Leer ...</button>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
<!-- <a href="{% url 'post_detail' post_id=post.id %}" class="btn btn-primary">Leer más</a> -->
